*{margin: 0;
    padding: 0;
}

body{
    font-family: 'Gabarito', sans-serif;

}

.navbar{

    padding: 10; 
    display: flex; 
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: white;
    
}

.navbar__s1__title{
    color: purple;
    
}

.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap 10px;
    z-index: 1px
;
   
}

.navbar__s2 input{
    border: none; 
    font-size: medium;
    width: 100%;
    background-color: transparent;
}

.navbar__s2 input:focus{
    
    outline: none;}

.navbar__s3
{
    display: flex;
    gap: 10px;
    align-items: center;
}

/* My Learning Popup */
.mylearning{
    position: relative;
    cursor: pointer;

}

.mylearning__popup {
    position: absolute;
    background-color: white;
    border: solid black 1px;
    width: 100px;
    padding: 20px;
    top: 150%;
    right: 0;
    display: none;
}

.mylearning:hover .mylearning__popup{ display: block;}

.Categories{

    display: flex;
    padding: 10px;
    border-bottom: solid black 1px;
    justify-content: space-around;
}

.Categories p{
    background-color: purple;
    color: white;
    padding: 5px;
    border-radius: 30px;
}
.saleimage{ 
    position: relative;}

.saleimage img{
    width: 1440px;

}

.saleimage__offer{
    width: 20%;
    border: solid black 2px;
    background-color: white;
    padding: 2%;
    position: absolute;
    top: 10%; left: 10%;
}

.recommended{
    padding: 10px;
}

.recommended_container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-between;
}
.course-card{
    width: 300px;

}
.course-card img{
    height: 50%;
    width: 100%;
}

.topics{
    padding: 10px;

}

.topics__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;

}

.topics__container p{
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 5;
    flex-basis: 25%;
}

.popular{
     padding: 10px;}

.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.footer{
    background-color: black;
    color: white;
    padding: 30px;
}

.footer__one{
    display: flex;
    gap: 10px;
}

.footer__one p{
    margin: 20px;

}
.footer__two{
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}